<launch>
  <!-- roslaunch arguments -->
  <arg name="show_rviz" default="true"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lasmile_gazebo)/worlds/lasmile.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>   
  </include>

  <!-- urdf xml robot description loaded on the Parameter Server-->
  <!--param name="robot_description" command="$(find xacro)/xacro.py '$(find lasmile_description)/urdf/differential_wheeled_robot.xacro'" -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find lasmile_description)/urdf/lasmile.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="lasmile_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"  
  args="-urdf -param robot_description -model lasmile" />

  <!-- robot visualization in Rviz -->
  <group if="$(arg show_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find lasmile_gazebo)/launch/lasmile.rviz"/> 

  <!-- load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find lasmile_control)/config/mobile_base_control.yaml" command="load" />
    <!-- load the controllers -->
    <node name="lasmile_controller" pkg="controller_manager" type="spawner" output="screen" 
      args="mobile_base_controller" />
 
    <!-- publish all the frames to TF -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" value="50"/> <!-- Hz -->
    </node>
  </group>


</launch>
